#bodydiv{
    background-color: white;
}
#navbar{
     display: flex;
     justify-content: space-evenly;
}
#press{
     background-color: rgb(16, 16, 19); 
     color: white;
     border: solid 1px;
     border-radius: 40px;
     width: 10%;
}
#topT{
     border: solid 1px;
     border-color: rgb(66, 66, 68);
     border-radius: 20px;
     width: 25%;
     color: rgb(74, 74, 82);
     font-size: larger;
}
#myDiv{
    display: flex;
    justify-content: space-between;
}
#box{
   background-color: rgb(16, 16, 17); 
   color: white;
   width: 55%;
   border-radius: 20px;
   padding: 15px;
}
#topic{
    font-size: 500%;
    color: rgb(34, 34, 39);
}
#photo{
padding: 0px, 130px;
}
#words{
  color: rgb(81, 81, 94);  
}
#Divsub{
    display: flex;
    justify-content: space-between;
}
.heading{
    color: rgb(34, 34, 39);
}
.paragra{
    color: rgb(81, 81, 94);  
}
#division{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#pill{
    background-color: rgb(245, 245, 95);
    color: rgb(17, 16, 16);
    border-radius: 15px;
    width: 45%;
    padding: 5px;
}
#web{
    color: rgb(34, 34, 39);
    font-size: 270%;
}
#man{
  padding: auto; 
}
.onecolam{
    display: flex;
    justify-content: space-between;
}
.pictures{
     border: solid 1px;
     padding: 30px;
     width: 370px;
     height: 370px;
     border-radius: 20px;
     font-size: 150%;
     text-align: center;
}
.top{
    color: rgb(34, 34, 39); 
}
.state{
    color: rgb(81, 81, 94);   
}
#statement{
  text-align: center;  
}
#click{
    color: rgb(81, 81, 94);
    background-color: rgb(137, 220, 248);
    border-radius: 15px;
    width: 20%;
}
#body{
    color: rgb(34, 34, 39); 
    font-size: 300%; 
}
#rev{
    background-color: rgb(155, 157, 219);
    color: rgb(75, 75, 82);
    border-radius: 20px;
    padding: 10px;
    font-size: medium;
}
#main{
    display: flex;
    gap: 10px;
}
#text{
    color: rgb(34, 34, 39);
    font-size: 500%;
}
#sen{
    font-size: 199%;
    color: rgb(81, 81, 94);
}
#list{
    color: rgb(33, 33, 37);
    list-style-type: square;
    margin-right: 500px;
    font-size: 220%;
}
#woman{
margin-top: 250px;
margin-right: 20px;
}
#container{
    background-color: rgb(23, 24, 26);
    border: solid 1px;
    padding-bottom: 100px;
    padding-top: 60px;
    border-radius: 30px;
}
#plan{
    text-align: center;
}
#popular{
    background-color: rgb(245, 247, 164);
    padding: 10px;
    border-radius: 15px;
    color: rgb(121, 121, 148);
}
#your{
    color: rgb(255, 255, 255);
}
#Single{
    display: flex;
    margin-left: 150px;
    gap: 60px;
}
.basic{
    color: rgb(46, 46, 51);
    font-size: x-large;
}
.cont{
    border: solid 1px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 80px;
}
.enter{
   width: 110%;
   color: rgb(94, 94, 99);
   padding: 10px;
   font-size: larger;
   border-radius: 20px;
   align-self: center;
}
#now{
    background-color: rgb(17, 17, 19);
    color: white;
    width: 110%;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    align-self: center;
}